<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.memo.post.DAO.PostDAO">
 	<select id="selectPostListByUserId" parameterType="int" resultType="com.memo.post.Post.Post">
 	
 		SELECT
 			`id`
			,`userId`
			,`userName`
			,`subject`
			,`content`
			,`imgPath`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`post`
 		WHERE
 			`userId` = #{userId}
 			
 	</select>	
 </mapper>